 :root {
     /*Основной шрифт*/
     --main-font: "Roboto", sans-serif;
     --secondary-font: "Raleway", sans-serif;
     /*Цвет текста*/
     --black-txt-color: #212121;
     --tblack-txt-color: #000000;
     --white-txt-color: #ffffff;
     --gray-txt-color: #757575;
     --blue-txt-color: #2196f3;
     /*Цвет фона*/
     --dark-bgr-color: #2f303a;
     --white-bgr-color: #ffffff;
     --primary-white-bgr-color: #f5f4fa;
     --secondary-white-bgr-colot: #f5f5f5;
     --hero-gradient: rgba(47, 48, 58, 0.4);
 }